<!DOCTYPE html>
<html>
<head>
  <title>User Registration Card</title>
</head>
<body>
  <header>
    <h1>PRODUCTS CATALOGUE</h1>
    <a routerLink="/" class="back">Back</a>
</header>

  <div class="registration-card">
    <h2>USER REGISTRATION</h2>
    <form class="container">
      <div class="input-field">
        <label for="name">User Name:</label>
        <input type="text" id="User-name" name="User-name" placeholder="Enter your Username" [(ngModel)]="user.username" required>
      </div>
      <div class="input-field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="user.email" ngModel email="true" required>
      </div>
      <div class="input-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="user.password" required minlength="6">
      </div>
      <input type="submit" (click)="addUser()" value="Register">
      <a routerLink="/login">Already Have Account!</a>
    </form>
  </div>
</body>
</html>
