body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 36px; 
  font-weight: bold; 
  text-transform: uppercase; 
}
header {
  text-align: center;
  background-color: palevioletred;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  margin-bottom: 20px;
  display:flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  align-items: center;
}
  a{
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 4px;
  }
   .back {
    padding: 10px 20px;
    background-color: skyblue; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 4px;
    text-decoration: none; 
    font-weight: bold; 
    text-transform: uppercase; 
  }
    .back:hover{
      background-color: white ;
      color:skyblue;
      cursor: pointer;
      border:2px solid skyblue;
    }
  .registration-card {
    width: 400px;
    margin-left: 35%;
    margin-top: 7%;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 28, 28, 0.1);
    color: rgb(255, 255, 255);
    transition: transform 0.2s;
    
  }
  .registration-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-field input[type="text"],
  .input-field input[type="email"],
  .input-field input[type="password"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=submit] {
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 4px;
    text-transform: uppercase;
  }
  input[type=submit]:hover {
    background-color: white;
    color:skyblue;
    cursor: pointer;
    padding:2px solid skyblue;
  }
  
  